.JavaScript {
    color: #f1e05a !important;
}

.Java {
    color: #b07219 !important;
}

.EJS {
    color: #a91e50 !important;
}

.Kotlin {
    color: #A97BFF !important;
}

.Swift {
    color: #F05138 !important;
}

.Lua {
    color: #000080 !important;
}

.CSS {
    color: #563d7c !important;
}

.HTML {
    color: #e34c26 !important;
}

.Go {
    color: #00ADD8 !important;
}

.TypeScript {
    color: #3178c6 !important;
}

.Svelte {
    color: #ff3e00 !important;
}

.Vue {
    color: #41b883 !important;
}

.Shell {
    color: #89e051 !important;
}

.C {
    color: #555555 !important;
}

.Python {
    color: #3572A5 !important;
}

.Rust {
    color: #dea584 !important;
}

.PowerShell {
    color: #012456 !important;
}

.SCSS {
    color: #c6538c !important;
}