@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./../img/noise-texture.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1780px;
    margin: 3.2% auto;
    column-gap: 20px;
}

.search {
    background-color: #0C0C0F;
    border: 1px solid #212128;
    border-radius: 9px;
    width: 550px;
    height: 800px;
    padding: 70px;
}

.information {
    background-color: #0C0C0F;
    border: 1px solid #212128;
    border-radius: 9px;
    width: 1185px;
}

.search-text-area {
    display: grid;
}

.search-text-header {
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.search-text-description {
    width: 100%;
    margin-top: 10px;
    max-width: 500px;
    color: #525252;
    font-weight: 400;
    font-size: 17px;
}

.search-input {
    margin-top: 40%;
    margin-left: 35px;
    margin-right: 35px;
}

.search-form {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, max-content);
}

.search-form-text {
    width: 330px;
    height: 50px;
    padding: 10px;
    outline: none;
    color: #ffffff;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(33, 33, 40, 30%);
    border: 1px solid rgb(255, 255, 255, 10%);
}

.search-form-submit {
    width: 330px;
    height: 50px;
    padding: 10px;
    outline: none;
    color: #ffffff;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(33, 33, 40, 30%);
    border: 1px solid rgb(255, 255, 255, 10%);
    cursor: pointer;
    transition: .4s all;
}

.search-form-submit:hover {
    background-color: rgb(33, 33, 40, 40%);
}

.search-footer-area {
    margin-top: 68%;
    display: flex;
    justify-content: space-between;
}

.search-footer-text {
    color: #525252;
    font-size: 12px;
    font-weight: 400;
}

.search-footer-by {
    color: #525252;
    font-size: 12px;
    font-weight: 400;
}

.search-footer-by a {
    color: #525252;
    font-weight: 500;
    text-decoration: none;
}